body{
    font-family: sofia-pro,sans-serif;
    background-color: white;
    margin: 0;
    height: 100vh;
}

hr{ 
    height: 1px;
    background-color: rgb(58, 223, 58);
}

#pageTitle {
    display: flex;
    height: 5%;
    align-items: center;
    background-color: #323e48;
    color: aliceblue;
    padding-left: .25em;
}

.hero{
    background-size: cover;
    background-position: center;
    width: 50wh;
    height: 10vh;
    display: flex;
}
  
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}